body {
    margin: 0;
    font-family: Arial;
    background-image: url(../images/Pizza\ de\ fundo.png);
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}

.background {
    margin: 0;
    min-height: 100vh;
    background-image: url(../images/Cópia\ de\ Todos\ direitos\ reservados\ -\ 2026.jpg);
    background-size: cover;
    background-position: center;
}