body{
 margin:0;
 font-family:Arial;
 /* background:#f5f5f5; */
 background-image:url(../images/Pizza\ de\ fundo.png);
}

.background{
 margin:0;
 min-height:100vh;
 background-image:url(../images/login.png);
 background-size:cover;
}